<div class="card h-100">
    <img src="{{ asset('build/images/test_content_pic.jpg') }}" class="card-img-top" alt="Bild des Inhaltes">
    <div class="card-body">
        <h2 class="card-title">{{ content.title }}</h2>
        <p class="card-text">{{ content.content|raw }}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">gepostet von KRRU, <i class="fas fa-clock"></i> {{ content.created | date("d.m.Y") }} </small>
    </div>
</div>