{% extends 'site/siteBase.html.twig' %}

{% block title %}Neuigkeiten{% endblock %}

{% block main %}
<div class="containter">
    <div class="row">
        {% for content in contents %}
            <div class="col-md-6">
                {% include 'site/content/contentBlock.html.twig' with {'content': content} %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
