{% extends 'site/siteBase.html.twig' %}

{% block title %}KLMS - Inhalt{% endblock %}

{% block main %}
    <div class="container mb-5">
        <h1>Inhalt</h1>
        <ul class="list-unstyled ml-2">
        {% for c in content %}
            <li class="m-1">
                <div>
                    <a href="{{ path('content', {'id' : c.id}) }}">{{ c.title }}</a>
                    <span class="text-muted ml-1">{{ c.description }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
