{% block select2_widget %}
    {% apply spaceless %}
    <select {{ stimulus_controller('select2', {'remoteTarget': path(remoteController)}) }} {{ block('widget_attributes') }}>
        {% if value is not empty and value is iterable %}
            {% for k,v in value %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        {% endif %}
    </select>
    {% endapply %}
{% endblock %}