{% extends 'email/design/standard.html.twig' %}

{% block main %}
  {% set org = settings.get('site.organisation') %}
  <h1>Benachrichtigung</h1>
  <p>{{ message }}</p>
  <p>Solltest das nicht du gewesen sein, kontaktiere uns bitte.</p>
  <p></p>
  {% include 'email/components/greetings.html.twig' %}
{% endblock %}
