{% extends 'email/design/standard.html.twig' %}

{% block main %}
  {% set text = settings.get('email.register.text') %}
  {% set org = settings.get('site.organisation') %}
  {% if text is empty %}
    <h1>Deine Registrierung bei {{ org }}</h1>
  {% endif %}
  <p>Zum Bestätigen der Registrierung <a href="{{ url('app_register_confirm', {'user' : user, 'token' : token}) }}">hier</a> klicken.</p>
{% endblock %}