{% extends 'email/design/standard.html.twig' %}

{% block main %}
  {% set text = settings.get('email.reset.text') %}
  {% set org = settings.get('site.organisation') %}
  {% if text is empty %}
    <h1>Passwort zurücksetzen</h1>
  {% endif %}
  <p>Zum Zurücksetzen des Passworts bei {{ org }} <a href="{{ url('reset_pw', {'user' : user, 'token' : token}) }}">hier</a> klicken.</p>
  <p>Solltest das nicht du gewesen sein, kannst du diese Nachricht ignorieren.</p>
{% endblock %}
