<div class="card h-100">
    <div class="row no-gutters h-100">
        <div class="col-auto bg-primary text-light d-flex">
            <div class="p-3 align-self-center text-center w-100 font-weight-bold">
                {{ clan.clantag | u.truncate(10) }}
            </div>
        </div>
        <div class="col">
            <div class="card-body p-3">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="float-right">
                        {% if app.user.user in clan.admins %}
                            <i class="fas fa-crown" title="Clan Admin"></i>
                        {% elseif app.user.user in clan.users %}
                            <i class="fas fa-user" title="Clan Mitglied"></i>
                        {% endif %}
                    </span>
                {% endif %}
                <h4 class="card-title mb-1">
                    {% block clanTitle %}
                        <a href="{{ path('clan_show', {'uuid' : clan.uuid}) }}">
                            {{ clan.name }}
                        </a>
                    {% endblock %}
                </h4>
                <p class="card-text">
                    {% block clanText %}
                        {{ clan.description | u.truncate(100, "...") }} <br>
                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
</div>