<div class="card h-100 card-clan-preview">
    <div class="row no-gutters h-100">
        <div class="col-auto bg-primary text-light d-flex clan-tag-wrap">
            <div class="p-3 align-self-center text-center w-100 font-weight-bold">
                {{ clan.clantag | u.truncate(10) }}
            </div>
        </div>
        <div class="col">
            <div class="card-body p-3">
                <h4 class="card-title mb-1">
                    {% block clanTitle %}
                        <a href="{{ path('clan_show', {'uuid' : clan.uuid}) }}">
                            {{ clan.name }}
                        </a>
                    {% endblock %}
                </h4>
                <p class="card-text">
                    {% block clanText %}
                        {{ clan.description | u.truncate(100, "...") }} <br>
                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
</div>