{% extends 'base.html.twig' %}
{% block body %}

    {% block topbar %}
        {% include 'site/components/topBar.html.twig' %}
    {% endblock %}
    <header id="header" class="mb-4">
        {% block header %}
            {% include 'site/components/header.html.twig' %}
        {% endblock %}
    </header>

    <main id="main">
        {% include 'site/components/flash.html.twig' %}
        {% block main %}{% endblock %}
        {% block sponsor %}{% include 'site/components/sponsoring.html.twig' %}{% endblock %}
    </main>
    <footer id="footer">
        {% block footer %}
            <div class="bg-dark text-white">
                {% include 'site/components/footer.html.twig' %}
            </div>
        {% endblock %}
        {% block footbar %}
            <div class="bg-darker text-muted">
                {% include 'site/components/footBar.html.twig' %}
            </div>
        {% endblock %}
    </footer>
{% endblock %}