<div class="dropdown d-inline-block">
    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-link dropdown-toggle">
        <i class="fas fa-user-friends"></i> Community
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-0 p-0">
        <a class="dropdown-item" href="{{ path('user') }}"> <i class="fas fa-user"></i> Gamer</a>
        <a class="dropdown-item" href="{{ path('clan') }}"><i class="fa-fw fas fa-users"></i> Clans</a>
    </div>
</div>