{% if settings.get('lan.signup.enabled') %}
    <div class="text-light-muted">
        {% set user = app.user.user %}
        {% if user is not empty %}
            Dein Status:
            {% if user is not registered_gamer %}
                <a href="{{ url('lan_signup') }}">Nicht Angemeldet</a>
            {% else %}
                Angemeldet&nbsp;&nbsp;|&nbsp;
                {% if user is paid_gamer %}
                    Bezahlt
                {% else %}
                    {{ 'payment' | slug_link('Nicht Bezahlt') }}
                {% endif %}
                &nbsp;|&nbsp;
                {% if user is seated_gamer %}
                    Sitzplatz {{ user | seat }}
                {% else %}
                    Kein Sitzplatz
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endif %}
