{% if settings.get('lan.signup.enabled') %}
    <div class="text-light-muted">
        {% set user = app.user.user %}
        {% if user is not empty %}
            Dein Status:
            {% if user is not registered_gamer %}
                <span>Nicht Angemeldet</span>
            {% else %}
                Angemeldet
                {% if settings.get('lan.seatmap.enabled') %}
                    &nbsp;|&nbsp;
                    {% if user is not seated_gamer %}
                        <a href="{{ url('seatmap') }}">Sitzplatz {{ user | seat }}</a>
                    {% else %}
                        <a href="{{ url('seatmap') }}">Kein Sitzplatz</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endif %}
