{% extends 'admin/adminBase.html.twig' %}

{% block title %}CheckIn - KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-user-check"></i> CheckIn{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table id="UserTable" class="table table-striped admin-data-table" data-order='[[1, "asc"]]' data-remote-target="{{ path('api_gamers_paid') }}">
                    <thead>
                        <tr>
                            <th class="text-nowrap w-1" data-data="user.id">KLMS-ID</th>
                            <th 
                                class="w-25" 
                                data-data="user.nickname"
                                data-render-function='{"elemType":"A", "attributes":{"data-toggle":"ajaxModal", "href": {"prepend":"{{ path('admin_user_show', {'uuid' : "--user.uuid--"}) }}"}}}'
                                >
                                Nickname
                            </th>
                            <th class="w-25" data-data="user.firstname">Vorname</th>
                            <th class="w-25" data-data="user.surname">Nachname</th>
                            <th class="w-25" data-data="status.checkedIn">Eingecheckt</th>
                            <th
                                class="text-nowrap w-1" 
                                data-orderable="false" 
                                data-searchable="false" 
                                data-default-content='<i class="fas fa-user-check"></i> Einchecken'
                                data-render-function='{"elemType":"A", "attributes":{"class":"btn btn-outline-dark text-nowrap", "data-toggle":"ajaxModal", "href": {"prepend":"{{ path('admin_checkin_show', {'uuid' : "--user.uuid--"}) }}"} , "title":{"data":"user.nickname", "append":" einchecken"}}}'
                                >
                                Aktionen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}