@import "variables";
@import '~bootstrap';

.card-avatar {
    position: relative;
    left: 50%;
    margin-left: calc($card-avatar-size / -2);
    margin-top:  calc($card-avatar-size / -2);
    width: $card-avatar-size;
    height: $card-avatar-size;
    line-height: $card-avatar-size;
    font-size: $card-avatar-size * 0.5;
    text-align: center;    
}

.mt-avatar {
    margin-top: $card-avatar-size*0.75;
}

.card-img-btn-bar {
    position:absolute;
    top:0.25rem;
    right:0.25rem;
    
    .btn:not(:hover) {
        background: rgba(248,249,250,0.75);
    }
}

.box {
    border: 1px solid $primary;
    background-color: rgba($primary,.35);
    margin: 0.5rem;
}

.box-header {
    @extend .card-header;
    background-color: rgba($primary,.5);
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 1px solid $primary;
}

.box-body {
    @extend .card-body;
    padding: 0.5rem;
}
