@import 'variables';

.hr-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: $primary;
  font-weight: lighter;
  font-size: smaller;

  &:before, &:after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $primary;
  }

  &:not(:empty):before {
    margin-right: .25em;
  }

  &:not(:empty):after {
    margin-left: .25em;
  }
}
