@import 'variables';

#main-nav .dropdown-menu {
    border:none;

    .dropdown-item {
        padding: 0;

        a {
            width:100%;
            display:block;
            padding: 0.3rem 1rem;
            color: $gray-900;
            border-left: 3px solid transparent;

            &:hover {
                border-color:$primary;
            }

            &:after {
                float:right;
                margin-top: calc((1em - $caret-width) / 2);
            }
        }
    }
}