@mixin seat($color) {
  background-color: $color;

  &:before {
    background-color: $color;
    border-radius: 50%;
  }
}

.seatmap-legend, .seatmap-wrapper {
  .seat-empty {
    @include seat(green)
  }

  .seat-taken {
    @include seat(darkred)
  }

  .seat-own {
    @include seat(orange)
  }

  .seat-locked {
    @include seat(gray)
  }
}

.seatmap-legend {
  .seat {
    height: 33px;
    width: 33px;
    border-radius: 30%;
    display: inline-block;
  }
}

.seatmap-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  transform-origin: left top;

  .seat {
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 30%;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
    }

    &[data-chair-position="top"]::before {
      top: -11px;
      left: 9px;
    }

    &[data-chair-position="bottom"]::before {
      left: 9px;
      bottom: -11px;
    }

    &[data-chair-position="left"]::before {
      top: 9px;
      left: -11px;
    }

    &[data-chair-position="right"]::before {
      top: 9px;
      right: -11px;
    }
  }

  .seat-information {
    cursor: default;
    background-color: transparent;
    text-align: center;
    line-height: 1.2;

    .fa-info-circle {
      color: $primary;
      font-size: 1.5em;
      vertical-align: middle;
      margin-top: 0.1rem;
    }
  }
}
