.sidebar {
    position: relative;
    top: 0;
    z-index: 1000;
    background-color: $dark;
    box-shadow: $box-shadow;
    overflow: hidden;

    @media (min-width: map-get($grid-breakpoints, md)) {
        transition: all .3s ease;
        min-height:calc(100vh - 3.5rem);
        padding: 1rem 0;
    }

    .nav.flex-column {
        .nav-item {
            .nav-link {
                padding: .75rem 0;
                border-bottom: 1px solid $black;
                position: relative;

                i {
                    padding:0 1rem;
                    &.fa-fw {
                        width: 2.5em;
                    }
                }

                &.active {
                    background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 4px );
                }

                &[data-toggle=collapse] {
                    &:before {
                        content:" ";
                        position: absolute;
                        border: 0.175rem solid $primary;
                        border-top-width: 0;
                        border-left-width: 0;
                        right : 1rem;
                        top: 1.2rem;
                        padding:0.2rem;
                        transform: rotate(-135deg);
                        transition: transform .2s ease-out;
                    }
                    &.collapsed:before {
                        transform: rotate(45deg);
                    }
                }
            }
            .collapse,.collapsing {
                .nav-item {
                    .nav-link {
                        padding-left:1.5rem;
                    }
                }
            }
        }
    }
}