{% extends 'site/siteBase.html.twig' %}

{% block title %}KLMS - News{% endblock %}

{% block header %}
    {% include "site/components/header_big.html.twig" %}
{% endblock %}


{% block main %}
<div class="container">
    <div class="row">
        <div class="row row-cols-1 row-cols-md-2">
        {% for entry in news %}
            <div class="col mb-5">
                {% include 'site/components/cards/cardContent.html.twig' with {'content': entry, 'link': path('news', {'id' : entry.id})} %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}