{% extends 'site/siteBase.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block main %}
    <div class="container mb-5">
        <h1 class="mb-4">{{ content.title }}</h1>
        <p class="card-text">
            {{ content.content|raw }}
        </p>
    </div>
{% endblock %}