<div class="container py-2">
    <div class="row">
        <div class="col text-right small text-muted">
            <a class="text-muted" href="#">Impressum</a> | <a class="text-muted" href="#">Unsubscribe</a>
        </div>
    </div>
</div>