{# TODO embedd logo to make it independent of changes #}
<div class="head-wrap bg-primary"
     {% if settings.get('style.bg_image') is not empty %}
     style="background-image: url({{ absolute_url(settings.get('style.bg_image')) }})"
     {% endif %}
>
    <div class="head-content container">
        <a href="{{ url('news') }}">
            {% if settings.get('style.logo_email') is not empty %}
                <img class="logo {% if settings.get('style.logo_full_height') %}logo-full-height{% endif %}" src="{{ absolute_url(settings.get('style.logo_email')) }}" alt="Logo"/>
            {% elseif settings.get('style.logo') is not empty %}
                <img class="logo {% if settings.get('style.logo_full_height') %}logo-full-height{% endif %}" src="{{ absolute_url(settings.get('style.logo')) }}" alt="Logo"/>
            {% endif %}
        </a>
    </div>
</div>