{% extends 'site/siteBase.html.twig' %}

{% block title %}Profil bearbeiten{% endblock %}

{% block main %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with {'cardSymbole': 'fas fas fa-user-circle fa-9x'} %}
            {% block cardBody %}
                {% set user = form.vars.data %}

                <h1 class="h3 card-title mb-4">Passwort ändern</h1>
                {{ form_start(form) }}

                {{ form_rest(form) }}

                <div class="float-right pb-2 pt-2">
                    <a class="btn btn-secondary" href="{{ path('user_profile') }}">Abbrechen</a>
                    <button type="submit" id="user_save" class="btn-primary btn">Speichern</button>
                </div>
                {{ form_end(form) }}
            {% endblock %}
        {% endembed  %}
    </div>
{% endblock %}