<div>
<a href="{{ path('admin_email_new') }}">Neues Template anlegen</a> |
    <a href="{{ path('admin_email') }}">Übersicht Templates</a> |
    <a href="{{ path('admin_email_sendings') }}">Übersicht Sendungen</a>
</div>
