{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="fas fa-map-signs"></i> Navigation{% endblock %}

{% block main %}
    {% for n in navs %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col col-auto mr-3">
                    <i class="far fa-compass fa-2x"></i>
                </div>
                <div class="col h-100">
                    <a class="align-middle" href="{{ path('admin_navigation_edit', { 'id': n.id }) }}">{{ n.name }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}