@use '../helper/variables' as vars;

.booking-slot-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.booking-resource-select {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.booking-resource-select:hover,
.booking-resource-select:focus {
  border-color: vars.$main-color;
}
