@use 'sass:color';
@use 'variables' as emailVars;
@use 'bootstrap' as emailBootstrap;
@use '../helper/common';


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main, #main {
    flex: 1 0 auto;
}

footer, #footer {
    box-shadow: emailVars.$box-shadow;
    flex-shrink: 0;
}

.navbar {
    box-shadow:  emailVars.$box-shadow-sm;
}

.list-group-hover .list-group-item:hover {
    color: emailBootstrap.$list-group-action-hover-color;
    background-color: emailBootstrap.$list-group-hover-bg;
}

.bg-darker {
    background-color: color.adjust(emailBootstrap.$dark, $lightness: -5%);
}

.text-disabled {
    color: emailBootstrap.$gray-300;
}

input.datetimepicker[readonly]:not([disabled]) {
    background:emailBootstrap.$input-bg;
}

input.datepicker[readonly]:not([disabled]) {
    background:emailBootstrap.$input-bg;
}
