@use 'helper/variables' as vars;
@use 'bootstrap-site' as bootstrap;
@use 'helper/header';
@use 'helper/card';
@use 'helper/hover';
@use 'helper/common';

html,
body {
  height: 100%;

}

h1 {
  background: linear-gradient(60deg, #ff6a3f, #df1238);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 3.8rem;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-transform: none;
  margin-bottom: 1.5rem;
}

h2 {
  background: linear-gradient(60deg, #ff6a3f, #df1238);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-transform: none;
  margin-bottom: 1.5rem;
}


h3 {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-transform: none;
  margin-bottom: 1.5rem;
}

h4 {
  background: linear-gradient(60deg, #ff6a3f, #df1238);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-transform: none;
  margin-bottom: 1.5rem;
}

main,
#main {
  flex: 1 0 auto;
  margin-top: 12.5rem;
}

#news {
  margin-top: 2.5rem;
}

footer,
#footer {
  margin-top: 5rem;
}

.videobox {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.40);
}

.vid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.40);
  z-index: -999;
}

.l-section-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 15vmin;
  color: #2b2b2b;
}

.l-section-shape.pos_bottom {
  bottom: -1px;
}

.zsfeedbkrpanel {
  border: none !important;
  background-color: transparent !important;
}

.fbfpoptitle {
  background: linear-gradient(60deg, #ff6a3f, #df1238);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-transform: none;
}

.FBWordVerify {
  background-color: #fff !important;
}

#advwebForm {
  background-color: transparent !important;
}


.navbar {
  font-size: 1rem !important;
  font-family: Montserrat Alternates !important;
  font-weight: 700 !important;
}

@include bootstrap.media-breakpoint-down(lg) {
  .navbar {
    font-size: 1rem !important;
    font-family: Montserrat Alternates !important;
    font-weight: 700 !important;
    background-color: #000;
  }

  .vid-overlay {
    background-image: url("../../public/media/header_dot_bg.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }

  .videobox {
    display: none !important;
  }
}

.username {
  font-family: Montserrat Alternates !important;
  font-weight: 700 !important;

}

@keyframes fadeNavbarBg {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: #000;
  }
}

@keyframes fadeNavbarSize {
  0% {
    padding: 1.1rem 1.8rem
  }

  100% {
    padding: 0.5rem 1.8rem
  }
}

.navbar-bg {
  animation: fadeNavbarBg 0.5s forwards, fadeNavbarSize 0.5s forwards;
}


.header-logo {
  padding-right: 30px;
}

.list-group-hover .list-group-item:hover {
  color: bootstrap.$list-group-action-hover-color;
  background-color: bootstrap.$list-group-hover-bg;
}

.bg-darker {
  background-color: vars.$bg-dark;
}

.modal-content {
  color: #000;
}

.text-disabled {
  color: bootstrap.$gray-300;
}

input.datetimepicker[readonly]:not([disabled]) {
  background: bootstrap.$input-bg;
}

input.datepicker[readonly]:not([disabled]) {
  background: bootstrap.$input-bg;
}
