{% embed "modules/modals/skeleton.html.twig"
    with {
    'id': 'showTeamsModal',
    'title' : 'Teams - ' ~ tourney.name,
    'dialogClass' : 'modal-xl'
} %}

    {% from 'site/tourney/show.html.twig' import teamname %}
    {% block modalBody %}
        <ul class="list-group">
            {% for team in tourney.teams %}
                <li class="list-group-item">
                    <b>{{ teamname(team) }}</b><br>
                    {% if not tourney.singlePlayer %}
                    <span>{% for tm in team.members %}{% if not tm.accepted %}<i class="text-muted">{% endif %}{{ tm.gamer | username }}{% if not tm.accepted %}</i>{% endif %}{% if not loop.last %},  {% endif %}{% endfor %}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

    {% block modalFooter %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
    {% endblock %}
{% endembed %}
