<div class="box box-body container-fluid">
    {% if not tourney.isSinglePlayer() %}
    <h6>Teammember ({{ team.countUsers }}/{{ tourney.teamsize }})</h6>
    <ul>
        {% for member in team.members %}
            <li>{{ member.gamer | username }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>