{% macro tree_button(tourney) %}
    <a class="btn btn-primary" href="{{ path('tourney_show', {'id': tourney.id }) }}"><i class="fa-solid fa-sitemap"></i> Turnierbaum</a>
{% endmacro %}

{% macro enter_result_button(game = null) %}
    <button class="btn btn-primary" type="button" {% if game is not null %}{# data-toggle="collapse" data-target=".registration-{{ game.id }}" #}{% else %}disabled="disabled"{% endif %}><i class="fa-solid fa-square-poll-horizontal"></i> Ergebnis eintragen</button>
{% endmacro %}

<div class="text-right">
    {{ _self.enter_result_button(current_game) }}
    {{ _self.tree_button(tourney) }}
</div>

<div class="container-fluid row">
    {% if not tourney.singlePlayer %}
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    Mein Team
                </div>
                <div class="box-body">
                {# TODO add team here #}
                </div>
            </div>
        </div>
    {% endif %}
    {% if current_game is null %}
        <span>Ausgeschieden.</span>
    {% else %}
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    Nächstes Spiel
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>
    {% endif %}
</div>
