<div class="card">
    <div class="card-header {% if mark is defined %}bg-primary text-white{% endif %}">
        {% if team.name %}<strong>Team:</strong> {{ team.name }}{% else %}{{ team.members[0].gamer | username }}{% endif %}
    </div>
    {% if team.name %}
    <ul class="list-group list-group-flush">
        {% for member in team.members %}
            <li class="list-group-item">
                {{ member.gamer | username }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>