{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            setup: function (editor) {
                editor.on('change', function (e) {
                    editor.save();
                })
            }
        });
    </script>
    {% include('admin/email/includes/menu.html.twig') %}
    <div class="example-wrapper">
        <h1>Hello ! ✅</h1>

        {{ form(form) }}
    </div>
{% endblock %}
