{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-envelope"></i> E-Mails{% endblock %}
{% block main %}


    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link " id="nav-templates-tab" data-toggle="tab" href="#nav-templates"
               role="tab"
               aria-controls="nav-home" aria-selected="true">E-Mail Vorlagen</a>
            <a class="nav-item nav-link active" id="nav-sendings-tab" data-toggle="tab" href="#nav-sendings" role="tab"
               aria-controls="nav-profile" aria-selected="false">Newsletter</a>
            <a class="nav-item nav-link" id="nav-applicationHooks-tab" data-toggle="tab" href="#nav-applicationHooks"
               role="tab"
               aria-controls="nav-contact" aria-selected="false">System E-Mails</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="margin-top: 20px">
        <div class="tab-pane fade  " id="nav-templates" role="tabpanel" aria-labelledby="nav-templates-tab">
            {% include('admin/email/templates.html.twig') %}
        </div>
        <div class="tab-pane fade show active" id="nav-sendings" role="tabpanel" aria-labelledby="nav-sendings-tab">
            {% include('admin/email/sendings.html.twig') %}
        </div>
        <div class="tab-pane fade" id="nav-applicationHooks" role="tabpanel" aria-labelledby="nav-applicationHooks-tab">
            3
        </div>
    </div>
{% endblock %}
