{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 0em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
            background-color: #FFFFFF;
        }


    </style>

    <div style="background-color: #FFFFFF">


        <div class="wrapper">
            <h1>EMail Voransicht</h1>
            <button onclick="history.back()">Zurück</button>

            <div>
                <div>
                    <b> Betreff:</b>
                </div>
                {{ template.subject }}
            </div>

            <div>
                <b>Nachricht:</b>
            </div>
            <div>
                {{ template.body | raw }}
            </div>
        </div>
    </div>
{% endblock %}
