header, #header {
    .head-wrap {
        display: flex;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: $box-shadow;
        height:12rem;
        background-color: $primary;
        
        .head-content {
            text-align: center;
            align-self: center;
            color:$header-color;

            .logo {
                max-height: 10rem;
            }
        }

        &.startpage {
            height:23rem;
            .head-content .logo {
                max-height: 20rem;
            }
        }
    }
}