header, #header {
    .head-wrap {
        display: flex;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: $box-shadow;
        height: 12rem;
        background-color: $primary;

        .head-content {
            text-align: center;
            align-self: center;
            color:$header-color;

            .logo {
                max-height: 5.5rem;
            }
        }

        &.startpage {
            height: 16rem;
            .head-content .logo {
                max-height: 5.5rem;
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    header, #header {
        .head-wrap {
            height: 12rem;
            .head-content {
                .logo {
                    max-height: 8rem;
                }
            }

            &.startpage {
                height: 16rem;
                .head-content .logo {
                    max-height: 10rem;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    header, #header {
        .head-wrap {
            height: 12rem;
            .head-content {
                .logo {
                    max-height: 9rem;
                }
            }

            &.startpage {
                height: 23rem;
                .head-content .logo {
                    max-height: 16rem;
                }
            }
        }
    }
}
