.seatmap-legend {
  .seat {
    height: 40px;
    width: 40px;
    border-radius: 30%;
  }

  .seat-empty {
    background-color: green;

    &:before {
      background-color: green;
      border-radius: 50%;
    }
  }

  .seat-taken {
    background-color: darkred;

    &:before {
      background-color: darkred;
      border-radius: 50%;
    }
  }

  .seat-own {
    background-color: orangered;

    &:before {
      background-color: orangered;
      border-radius: 50%;
    }
  }

  .seat-locked {
    background-color: gray;

    &:before {
      background-color: gray;
    }
  }
}

.seatmap-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  transform-origin: left top;

  .seat {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 30%;
    cursor: pointer;

    &[data-chair-position="top"]::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 7px;
      width: 5px;
      height: 5px;
    }

    &[data-chair-position="bottom"]::before {
      content: '';
      position: absolute;
      left: 7px;
      bottom: -10px;
      width: 5px;
      height: 5px;
    }

    &[data-chair-position="left"]::before {
      content: '';
      position: absolute;
      top: 7px;
      left: -10px;
      width: 5px;
      height: 5px;
    }

    &[data-chair-position="right"]::before {
      content: '';
      position: absolute;
      top: 7px;
      right: -10px;
      width: 5px;
      height: 5px;
    }
  }

  .seat-empty {
    background-color: green;

    &:before {
      background-color: green;
      border-radius: 50%;
    }
  }

  .seat-taken {
    background-color: darkred;

    &:before {
      background-color: darkred;
      border-radius: 50%;
    }
  }

  .seat-own {
    background-color: orangered;

    &:before {
      background-color: orangered;
      border-radius: 50%;
    }
  }

  .seat-locked {
    background-color: gray;

    &:before {
      background-color: gray;
    }
  }

  .seat-information {
    cursor: default;
    background-color: transparent;
    text-align: center;
    line-height: 1.2;
  }
}
