@mixin seat($color) {
  background-color: $color;

  &:before {
    background-color: $color;
    border-radius: 50%;
  }
}

.seatmap-legend, .seatmap-wrapper {
  .seat-empty {
    @include seat(green)
  }

  .seat-taken {
    @include seat(darkred)
  }

  .seat-own {
    @include seat(orange)
  }

  .seat-locked {
    @include seat(gray)
  }
}

.seatmap-legend {
  .seat {
    height: 40px;
    width: 40px;
    border-radius: 30%;
  }
}

.seatmap-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  transform-origin: left top;

  .seat {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 30%;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
    }

    &[data-chair-position="top"]::before {
      top: -10px;
      left: 7px;
    }

    &[data-chair-position="bottom"]::before {
      left: 7px;
      bottom: -10px;
    }

    &[data-chair-position="left"]::before {
      top: 7px;
      left: -10px;
    }

    &[data-chair-position="right"]::before {
      top: 7px;
      right: -10px;
    }
  }

  .seat-information {
    cursor: default;
    background-color: transparent;
    text-align: center;
    line-height: 1.2;
  }
}
