<div class="container py-2">
    <div class="row">
        <div class="col text-right small text-muted">
            {% include 'site/components/nav/navFooter.html.twig' with {'style' : 'text-muted'} %}
        </div>
    </div>
</div>