<div id="foot-bar" class="container py-5 bg-dark text-white">
    <div class="row">
        <div class="col">
            <h3>Über uns</h3>
            <p>{{ settings.get('ABOUT_US')|raw }}</p>
        </div>
        <div class="col">
            <h3>Links</h3>
            {% include 'site/components/socialLinks.html.twig' %}
        </div>
    </div>
</div>