<div class="container py-2">
    <div class="row">
        <div class="col small text-muted">Powered by <a href="https://github.com/KRRUg/KLMS" target="_blank">KLMS</a></div>
        <div class="col small text-muted text-right">
            {% include 'site/components/nav/navFooter.html.twig' with {'style' : 'text-muted'} %}
        </div>
    </div>
</div>