{% block headerContent %}
    <div id="head-content" class="p-5"  style="background-image: url({{ asset("build/images/header_bg.jpg") }})">
    </div>
{% endblock %}

{% block nav %}
    <div class="container">
        {%  include 'site/components/nav/navMain.html.twig' %}
    </div>
{% endblock %}