<div class="head-wrap {% if startpage is defined %}startpage{% endif %}" style="background-image: url({{ settings.get('style.bg_image') }})">
    <div class="head-content container">
        {% set logo = settings.get('style.logo') %}
        {% if startpage is not defined %}<a href="/">{% endif %}
        {% if logo is empty %}
            <img class="logo" src="{{ asset("build/images/logo-white.png") }}" alt="Logo">
        {% else %}
            <img class="logo {% if settings.get('style.logo_full_height') %}logo-full-height{% endif %}" src="{{ logo }}" alt="Logo">
        {% endif %}
        {% if startpage is not defined %}</a>{% endif %}
        {% block headerContent %}
        {% endblock %}
    </div>
</div>

{% block nav %}
    <div class="container">
        {%  include 'site/components/nav/navMain.html.twig' %}
    </div>
{% endblock %}