<div class="head-wrap {{ css_prefix|default('') }}" class=""  style="background-image: url({{ asset("build/images/header.jpg") }})">
    <div class="head-content container">
        <img class="logo mb-4" src="{{ asset("build/images/logo-white.png") }}" alt="KRRU Logo">
        {% block headerContent %}
        {% endblock %}
    </div>
</div>

{% block nav %}
    <div class="container">
        {%  include 'site/components/nav/navMain.html.twig' %}
    </div>
{% endblock %}