{% extends 'site/components/header.html.twig' %}


{% block headerContent %}
    <div id="head-content" class="jumbotron jumbotron-fluid"  style="background-image: url({{ asset("build/images/header_bg_big.jpg") }})">
        <div class="container text-center">
            <img src="{{ asset("build/images/krru.png") }}" alt="KRRU Loho">
        </div>
    </div>
{% endblock %}