<div class="head-wrap {{ css_prefix|default('') }} bg-primary" style="background-image: url({{ settings.get('style.bg_image') }})">
    <div class="head-content container">
        <img class="logo mb-4" src="{{ settings.get('style.logo') }}" alt="Logo">
        {% block headerContent %}
        {% endblock %}
    </div>
</div>

{% block nav %}
    <div class="container">
        {%  include 'site/components/nav/navMain.html.twig' %}
    </div>
{% endblock %}