<div id="top-bar" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col text-right">
                {# TODO: Check if user is Admin #}
                {% if app.user.username is defined %}
                    <a class="btn btn-link" href="/admin">
                        <i class="fas fa-cogs"></i> Admin
                    </a>
                {% endif %}

                {% if app.user.username is defined %}
                    {%  include 'site/components/topBar/userDropdown.html.twig' %}
                {% else %}
                    {%  include 'site/components/topBar/loginDropdown.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>