<div id="top-bar" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col text-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-link" href="{{ path('admin_dashboard') }}">
                        <i class="fas fa-cogs"></i> Admin
                    </a>
                {% endif %}

                <div class="dropdown d-inline-block">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-link dropdown-toggle">
                        <i class="fas fa-user-friends"></i> Community
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-0 p-0">
                        <a class="dropdown-item" href="{{ path('user_profile') }}"> <i class="fas fa-user"></i> Gamers</a>
                        <a class="dropdown-item" href="{{ path('clan') }}"><i class="fa-fw fas fa-users"></i> Clans</a>
                    </div>
                </div>

                {% if app.user.username is defined %}
                    {%  include 'site/components/topBar/userDropdown.html.twig' %}
                {% else %}
                    {%  include 'site/components/topBar/loginDropdown.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
