<div id="top-bar" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                {% if app.user.username is defined %}
                    {%  include 'site/components/topBar/lanStatus.html.twig' %}
                {% endif %}
            </div>
            <div class="col text-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-link" href="{{ path('admin_dashboard') }}">
                        <i class="fas fa-cogs"></i> Admin
                    </a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include 'site/components/topBar/communityDropdown.html.twig' %}
                {% endif %}
                {% if app.user.username is defined %}
                    {%  include 'site/components/topBar/userDropdown.html.twig' %}
                {% else %}
                    {%  include 'site/components/topBar/loginDropdown.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
