<div id="top-bar" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col text-right">
                {% if app.user.username is defined %}
                    {{ app.user.username }} <a href="/logout">logout</a>
                {% else %}
                    <a class="btn btn-link" href="/login">
                        <i class="fas fa-user-circle"></i> Anmelden
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>