<div id="top-bar" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col text-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-link" href="/admin">
                            <i class="fas fa-cogs"></i> Admin
                        </a>
                    {% endif %}
                    {{ app.user.username }} <a href="/logout">logout</a>
                {% else %}
                    <a class="btn btn-link" href="/login">
                        <i class="fas fa-user-circle"></i> Anmelden
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>