<div id="top-bar" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                Something, somthing dark...
            </div>
        </div>
    </div>
</div>