{% extends 'base.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Admin</h1>
    <a href="{{ path('admin_news') }}"> News </a><br/>
    <a href="{{ path('admin_content') }}"> Content </a>
</div>
{% endblock %}
