{% extends 'base.html.twig' %}

{% block title %}KLMS - News{% endblock %}

{% block body %}
    <h1>Gamer Liste</h1>

    <ul>
        {% for gamer in gamers %}
            <li>
                {{ gamer.email }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
