{% embed "admin/components/modals/skeleton.html.twig"
    with {
    'id': 'addTeamMemberModal',
    'title' : 'Eintrag hinzufügen',
    'dialogClass' : 'modal-lg'
}
%}
    {% block modalBody %}

    {% endblock %}

    {% block modalFooter %}
        <button type="reset" class="btn-secondary btn" data-dismiss="modal">{{ button_cancel | default('Abbrechen') }}</button>
        <button type="submit" class="btn-primary btn">{{ button_save | default('Hinzufügen') }}</button>
    {% endblock %}
{% endembed %}