{% extends 'site/siteBase.html.twig' %}

{% block title %}Clan erstellen{% endblock %}

{% block main %}
    {% embed "site/components/cards/skeletons/cardProfileRound.html.twig"  with {'cardSymbole': 'fas fa-users'} %}
        {% block cardBody %}
            <h1 class=" h3 card-title text-center">Clan erstellen</h1>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="float-right">
            <button type="submit" id="clan_save" class="btn-primary btn">Erstellen</button>
            </div>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed  %}
{% endblock %}