{% extends 'site/siteBase.html.twig' %}

{% block title %}Clan bearbeiten{% endblock %}

{% block main %}
    <div class="container">
        {% embed "site/components/cards/skeletons/cardProfile.html.twig"  with {'cardSymbole': 'fas fa-users fa-6x'} %}
            {% block cardBody %}
                <h1 class="h3 card-title mb-4">Clan bearbeiten</h1>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <a href="{{ path('clan_show', {'uuid': clan.uuid}) }}" class="btn btn-secondary">Abbrechen</a>
                <button type="submit" class="btn btn-primary">Speichern</button>
                {{ form_end(form) }}
            {% endblock %}
        {% endembed  %}
    </div>
{% endblock %}