{% extends 'site/siteBase.html.twig' %}

{% block title %}Clan beitreten{% endblock %}

{% block main %}
    {% embed "site/components/cards/skeletons/cardProfileRound.html.twig"  with {'cardSymbole': 'fas fa-users'} %}
        {% block cardBody %}
            <h1 class=" h3 card-title text-center">Clan beitreten</h1>
            {{ form(form) }}
        {% endblock %}
    {% endembed  %}
{% endblock %}