{% extends 'site/siteBase.html.twig' %}

{% block title %}Clans{% endblock %}

{% block main %}
    <div class="container">
        <h1 class='mb-3'>Clans</h1>
        <div class='mb-4'>
            <a role="button" class="btn btn-primary" href="{{ path('clan_create') }}">Clan erstellen</a> 
        </div>
        <div class="row">
            {% for clan in clans.items %}
                <div class="col-sm-6">
                    {% include 'site/components/cards/cardClanPreview.html.twig' with {'clan': clan} %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}