{% embed "admin/components/modals/form.html.twig"
    with {
        'id': 'newModal',
        'title' : 'Admin hinzufügen',
        'attr' : {'data-remote-target' : path('admin_permission'), 'data-backdrop': 'static'},
        'form' : form_add
    }
%}
    {% block modalForm %}
        <div class="form-group">
            {{ form_row(form_add.user) }}
        </div>
        <div class="form-group">
            {{ form_row(form_add.perm) }}
        </div>
    {% endblock %}
{% endembed %}