{% extends 'email/design/baseDesign.html.twig' %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ body | default('') | raw }}
        </div>
    </div>
{% endblock %}