{% extends 'admin/adminBase.html.twig' %}

{% block title %}KLMS - Admin{% endblock %}
{% block siteheading %}<i class="far fa-file-alt"></i> Clans{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table table-striped">
                    <tr>
                        <th>Clans</th>
                    </tr>
                    {% for clan in clans %}
                        <tr>
                            <td>{{ clan.name }}</td>
                            <td>
                                <a href="{{ path('admin_clan_show', {'uuid' : clan.uuid}) }}">anzeigen</a>
                                <a href="{{ path('admin_clan_edit', {'uuid' : clan.uuid}) }}">editieren</a>
                                {# TODO: implement SweetAlert2? "Sind sie Sicher?" Modal #}
                                <form method="post" action="{{ path('admin_clan_delete', {'uuid' : clan.uuid}) }}">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="submit" value="löschen"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

